#name{
    padding: 10px;
    margin: 0 auto;
    width: 70vw;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
}
body{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    text-align: center;
}
.step{
    border: 1px solid black;
    border-radius: 15px;
    width: 60%;
    padding: 5px;
}
.temp{
    text-align: end;
    border: 1px solid black;
    border-radius: 15px;
    width: 3vw;
    padding: 5px;
}
.time{
    text-align: end;
    border: 1px solid black;
    border-radius: 15px;
    width: 4vw;
    padding: 5px;
}
.step_devison{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 15px;
    border: 3px solid black;
    border-radius: 20px;
    margin: 30px;
}
.add{
    background-color: rgb(128, 241, 241);
    color: black;
    border: none;
    border-radius: 10px;
    width: 4vw;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

}
.add:active{
    transform: translate(2px , 2px);
}