header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    width: 100vw;
}

#Search {
    width: 30vw;
    border-radius: 25px;
    height: 3vw;
    text-align: center;
}

main {
    border: 3px solid black;
    border-radius: 20px;
    display: inline-grid;
    width: 95vw;
    gap: 5px 5px;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
}

.recipe {
    height: 30vw;
    width: 22vw;
    border: 2px solid pink;
    border-radius: 20px;
    position: relative; /* Added to contain the absolute-positioned text */
    transition: width 0.5s ease, height 0.5s ease;
    overflow: hidden;
}

.recipe:hover {
    width: 24vw; 
    height: 32vw;
}

.recipe img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    transition: width 0.5s ease, height 0.5s ease; 
}

.recipe img:hover {
    width: 110%;
    height: 110%; 
}

.recipe h2, .recipe p {
    position: absolute; /* Position the text over the image */
    color: white;
    z-index: 2;
    width: 100%; /* Make the text span the full width */
    text-align: center;
    padding: 0 10px;
    left: 0;
}

.recipe h2 {
    top: 10px; /* Adjust position of the title */
}

.recipe p {
    bottom: 10px; /* Adjust position of the description */
}

hr {
    height: 3px;
    background-color: black; 
    border: none; 
    margin: 20px auto; 
}
