/* General Styling */
.div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 75vw;
    background-color: azure;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 15px;
}

header {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: red;
}

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#btn_back {
    margin-bottom: 20px;
}

#goback {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

#edit-save-button {
    margin-top: 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

/* Progress bar styling */
.progress-container {
    width: 80vw;
    height: 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
}

.progress-bar {
    height: 100%;
    background-color: #4caf50;
    border-radius: 10px;
    width: 0;
    transition: width 0.3s;
}

#progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: bold;
}
